/* * {
    color: purple;
} */

h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 10px auto;
  display: inline-block;
}

a {
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  font-size: large;
}

.burger-recipe a {
  color: orange;
}

.pizza-recipe a {
  color: red;
}

.lasagna-recipe a {
  color: brown;
}

/* BURGER RECIPE */
.ingredients {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  color: blue;
}

img {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
}

.instructions {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}

.heading {
    font-size: large;
}


