/* * {
    color: purple;
} */

.burger-recipe a{
    color: orange;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}

/* h1 {
    color: green;
} */

.pizza-recipe a {
    color: red;
}

.lasagna-recipe a {
    color: brown;
}



